@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Application uses</h2>
        <a asp-area="" asp-controller="Client" asp-action="Clients" class="btn btn-default btn-lg btn-block">Go to client list</a>
        <a asp-area="" asp-controller="Order" asp-action="Orders" class="btn btn-default btn-lg btn-block">Go to list of orders</a>
    </div>
</div>
